button {
    padding: 0.5em 1em;
    text-align: center;
}

button.svg-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}

button.svg-btn > img {
    width: 1.5em;
}

button:hover {
    filter: brightness(95%);
    cursor: pointer;
}

button:active {
    filter: none;
}
